.hamburger {
  background-color: transparent;
  border: none;
  outline: none; 
    &__line {
      width: 25px;
      height: 2px;
      background-color: white;
      display: block;
      margin: 5px 0;
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      cursor: pointer;
    }
}

.hamburger.active .hamburger__line:nth-child(1) {
  transform: translateY(12px) rotate(25deg);
}

.hamburger.active .hamburger__line:nth-child(2) {
  transform: rotate(25deg);
}

.hamburger.active .hamburger__line:nth-child(3) {
  transform: translateY(-12px) rotate(-25deg);
}
