.mobile-menu {
	color: white;
	position: fixed;
	top: 0;
	right: -260px;
	width: 260px;
	height: 100%;
  transition: right $menu-transition-speed ease;

  @include desktop {
    display: none;  
  }
  
  &.mobile-menu--open {
    right: 0;
  }

  &__list {
    padding: 0 1rem;
    list-style-type: none;
  }
}
