.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-sm 0;

  @include desktop {
    padding: $padding-lg 0;
  }

  &__list {
    display: none;
    list-style-type: none;

    @include desktop {
      display: flex;
    }
  }

  &__list-item-link {
    text-decoration: none;
    padding-left: $padding-sm;
    font-weight: 600;
    color: $primary-color;
    text-transform: uppercase;
    font-size: $font-xs;
  }
}
