	.page-wrapper {
  overflow-x: hidden;
	position: relative;
	right: 0px;
	transition: right $menu-transition-speed ease;

	&.page-wrapper--menu-open {
		right: 260px;
	}

		@include desktop {
			position: static;
		}
	}
